# Auto detect text files and perform LF normalization
* text=auto

# Stop stb_vorbis from making the project look like it's primarily C
pyday_night_funkin/stb_vorbis/c_src/stb_vorbis.c linguist-vendored
